
<a href="mailto:minde@mindelis.com" title="Email me" class="footer-link">
  <span class="sr-only">Email</span>
  <div class="icon">{{> icons/envelope}}</div>
</a>
<a href="tel:+447743499249" title="Phone me" class="footer-link">
  <span class="sr-only">07743499249</span>
  <div class="icon">{{> icons/mobile-alt}}</div>
</a>
<a href="https://www.github.com/MindeVieras" target="_blank" title="GitHub" class="footer-link">
  <span class="sr-only">GitHub</span>
  <div class="icon">{{> icons/github}}</div>
</a>
<a href="https://gb.linkedin.com/in/minde-vieras-3a4637129" target="_blank" title="LinkedIn" class="footer-link">
  <span class="sr-only">LinkedIn</span>
  <div class="icon">{{> icons/linkedin}}</div>
</a>
<a href="/cv/CV-Minde-Vieras.pdf" target="_blank" title="Download CV" class="footer-link">
  <span class="sr-only">CV</span>
  <div class="icon">{{> icons/download}}</div>
</a>
