// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$font-main: Helvetica;
$font-main-link: 'Play', sans-serif;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

body {
  background: no-repeat center center fixed;
  background-image: url('/images/bg.jpg');
  background-size: cover;
  overflow: hidden;
  margin: 0px;
}

svg{
    g{
        cursor:pointer;
        path, circle{
            opacity: .4;
            transition: opacity .3s ease;
        }
        &:hover path{
            opacity:.1;

        }
        &:hover circle{
            opacity: .1;
        }
        text{
            font-weight: lighter;
            font-family: $font-main-link;
            fill: rgba(204,200,200,.5);
        }
    }
}
.modal{
    .modal-content{
        background-color: rgba(204,204,204,.7);
        font-family: $font-main;
        letter-spacing: 1px;
        color: #000;
        border-radius:30px;
        padding: 10px;
       .modal-header{
            background-color: rgba(204,204,204,.5);
            border-radius: 20px 20px 0 0;
        }
        .modal-body{
            background-color: rgba(204,204,204,.5);
            font-size: 1.25em;
            .list-group-item{
                background-color: rgba(0,0,0,0);
                border: none;
            }
        }
        .modal-footer{
            background-color: rgba(204,204,204,.5);
            border-radius: 0 0 20px 20px;
            i{
                margin-right: 10px;
                font-size: 18px;
                vertical-align: middle;
            }
            a{
                text-decoration: none;
                color: #000;
            }
        }
    }
}
.modal.skills{
    .modal-content{
        border-radius:30px;
        padding: 10px;
        font-size: 1em;
       .modal-header{
            display: none;
        }
        .modal-body{
            background-color: rgba(0,0,0,0);
            padding: 0px 15px;
            .panel {
                margin-bottom: 10px;
                background-color: transparent;
                .panel-heading{
                    background-color: transparent;
                    border-color: transparent;
                }
                .panel-body{
                    background-color: rgba(204,204,204,.5);
                    border-radius: 20px;
                    font-size: 0.75em;
                }
            }
            .panel-info{
                border-color: transparent;
                &.personal{.panel-body{font-size:1em}}
            }
            .list-group-item{
                background-color: rgba(0,0,0,0);
                border: none;
            }
        }
        .modal-footer{
            background-color: rgba(0,0,0,0);
            border-top: 0px solid black;
            padding-top: 0px;
        }
    }
}
.modal-title, .panel-title{
    color: #151515;
    font-size: 28px;
    text-align: center;
    letter-spacing: 5px;
}
.modal.projects{
    .modal-content{
        .modal-body{
            padding: 0px 15px;
            .panel {
                margin-bottom: 0px;
                background-color: transparent;
                .panel-heading{
                    background-color: transparent;
                    border-color: transparent;
                    color: #000;
                    font-size: 1.5em;
                    text-align: center;
                }
                .panel-body{
                    background-color: transparent;
                    border-radius: 20px;
                    img{
                        width:100%;
                        margin-bottom: 10px;
                    }
                }
            }
            .panel-info{
                border-color: transparent;
            }
            .list-group-item{
                background-color: transparent;
                border: none;
            }
        }
        .modal-footer{
        }
    }
}
.modal.cv{
    .get-cv, .get-cover{
        text-align: center;
    }
    form{
        display: inline-block;
        .btn-default{
            background-color: rgba(204,204,204,.5);
        }
    }
}
.close{
    font-size: 2.5em;
}
.certs{
    font-weight: 700;
}
footer{
    position: absolute;
    bottom:10px;
    left:0;
    width:100%;
    text-align: center;
    a{&:hover i{bottom:5px}}
    i{
        position: relative;
        bottom: 0;
        color: rgba(204,204,204,.5);
        font-size: 48px!important;
        margin: 0 10px;
        cursor: pointer;
        @include transition(all .3s ease);
    }
}
.devskills{
  .progresscircle-wrapper{
    position: relative;
  }
  .skill-name{
        font-size: 1.25em;
        text-align: center;
        span{display:inline-block;margin-top:5px}
  }
}
.progresscircle{
  position: absolute;
  color: #000;
  font-weight: 100;
  line-height: 1;
}
.round-progress-wrapper{
    display:block;
    margin: auto;
    text-align: center;
    width:80%!important;
    padding-bottom: 40%!important;
}
.personal-skills li{
  text-align:center;
}
.skill{
    padding-left: 0px;
    padding-right: 0px;
}
.single-skill{
  padding:10px 0px;
}
.single-skill + .popover{
    width:280px;
}
.single-skill + .popover > .popover-inner {
    background-color: rgba(204,204,204,.85);
    font-size:1em;
}
.popover.top{margin-top:-40px}
.popover.top > .arrow:after {
    border-top-color: rgba(204,204,204,.85);
}
footer .popover > .popover-inner {
    background-color: rgba(204,204,204,.85);
    font-size:1em;
}
.popover{
    background-color: transparent;
}
.error {
  background-color: rgba(255, 0, 0, 0.2);
}
.submissionMessage {
  background-color: rgba(255,255,255, 0.2);
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  display: block;
  box-shadow: 0 0 2px white;
  width: 60%;
}