# Windows image file caches
Thumbs.db

# Mac crap
.DS_Store

app/bower_components
node_modules
.sass-cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
