
<div class="row"><div class="col-sm"><p>Code quality</p><p>Automation tools</p><p>E-commerce</p><p>Latest standards</p></div><div class="col-sm"><p>Documentation</p><p>Product vision</p><p>Managing change</p><p>Technical skills</p></div></div>
