
<div class="row">
  <div class="col-sm">
    <p class="lead">Code quality</p>
    <p class="lead">Automation tools</p>
    <p class="lead">E-commerce</p>
    <p class="lead">Latest standards</p>
  </div>
  <div class="col-sm">
    <p class="lead">Documentation</p>
    <p class="lead">Product vision</p>
    <p class="lead">Managing change</p>
    <p class="lead">Technical skills</p>
  </div>
</div>
