
<div class="mt-3 mb-5">
  <p class="h4"><strong>10/16 - 02/19</strong> Software Developer at <strong>Creation Media</strong>, Bristol</p>
  <p class="lead">Building and maintaining Drupal, WordPress, Magento and custom platforms. Taking care of full-stack responsibilities as well as managing AWS and common LAMP stack. Writing extensive API's. Working collaboratively with a team.</p>
</div>

<div class="mb-5">
  <p class="h4"><strong>01/16 - 10/16</strong> Web Developer at <strong>Southmedia Ltd.</strong>, Bristol</p>
  <p class="lead">Responsible for front-end and back-end development of Drupal or WordPress CMS. Typically working from designs, but often given free rein on improving existing websites. Whether working individually or with a small team and constantly striving to operate within timescales and hit targets.</p>
</div>

<div class="mb-5">
  <p class="h4"><strong>03/13 – 12/15 freelancing web designer/developer</strong></p>
  <p class="lead">Creating websites with Drupal, developing themes and modules. Building SPA's with Angular1. Maintaining already build systems. Constantly working with HTML, CSS and JS. Experience with MVC pattern. Creating designs with Adobe suite.</p>
</div>

<div>
  <p class="h4"><strong>06/10 - 12/12</strong> Leader, developer. <strong>Electric-Shop-Online</strong>, Lithuania</p>
  <p class="lead">Maintaining the main online shop. Repairing, installing and maintaining consumer grade digital equipment.</p>
</div>
