
<ul class="list-unstyled">
  <li class="media mb-4">
    <img src="/images/jovaitas_logo.png" class="mr-3 logo" alt="Jovaitas" />
    <div class="media-body">
      <h5 class="mt-0">Jovaitas</h5>
      A freelance project built using Drupal Commerce. Design and functionality were created in order to meet all client requirements.
      <a href="https://e.jovaitas.lt" target="_blank">Go to site...</a>
    </div>
  </li>
  <li class="media mb-4">
    <img src="/images/ascenti_logo.svg" class="mr-3 logo" alt="Ascenti" />
    <div class="media-body">
      <h5 class="mt-0">Ascenti</h5>
      Drupal 8 project. System to manage cliniks across UK. Frontend clinic finder APP build using React.
      <a href="https://www.ascenti.co.uk" target="_blank">Go to site...</a>
    </div>
  </li>
  <li class="media mb-4">
    <img src="/images/noahs_logo.jpg" class="mr-3 logo" alt="Noah's Ark Zoo Farm" />
    <div class="media-body">
      <h5 class="mt-0">Noah's Ark Zoo Farm</h5>
      Custom build CMS to manage animals in the zoo. Build using FatFree PHP framework, as well as frontend development using given design files.
      <a href="https://www.noahsarkzoofarm.co.uk" target="_blank">Go to site...</a>
    </div>
  </li>
  <li class="media mb-4">
    <div class="mr-3 logo" style="color:#9013FE;font-size:19px;line-height:1.25;text-align:center;font-weight:bold">
      Futures Centre
    </div>
    <div class="media-body">
      <h5 class="mt-0">Futures Centre</h5>
      Users share their opinions and posts comments based on their experiences. Drupal website created from design files. A lot of frontend and backend functionality is done. Overall amazing look and feel UI/UX achieved.
      <a href="https://thefuturescentre.org" target="_blank">Go to site...</a>
    </div>
  </li>
  <li class="media mb-4">
    <img src="/images/fand_logo.png" class="mr-3 logo" alt="Food &amp; Drink" />
    <div class="media-body">
      <h5 class="mt-0">Food &amp; Drink</h5>
      Main goal and purpose achieved. Fully responsive eye catchy website created. Drupal template developed from Sketch design provided.
      <a href="https://www.foodanddrinkguides.co.uk/" target="_blank">Go to site...</a>
    </div>
  </li>
  <li class="media mb-4">
    <img src="/images/pramogos_logo.png" class="mr-3 logo" alt="Entertainment" />
    <div class="media-body">
      <h5 class="mt-0">Entertainment</h5>
      Dynamic website built by Drupal 7. A template is coded in order to meet the client’s requirements. To boost the best performance criteria used only the minimum of plugins and extra functionality was hard coded.
      <a href="http://www.segris.lt/pramogos" target="_blank">Go to site...</a>
    </div>
  </li>
  <li class="media">
    <img src="/images/segris_logo.png" class="mr-3 logo" alt="Segris" />
    <div class="media-body">
      <h5 class="mt-0">Segris</h5>
      Redesigned the Opencart online shop. Great considerable efforts made for the major development of website design, layout and responsiveness achieved.
      <a href="http://e.segris.lt" target="_blank">Go to site...</a>
    </div>
  </li>
</ul>
