
<g data-piece id="piece_skills">

  <title>Skills</title>
  <circle id="pizza_center_circle" fill="#333333"></circle>
    
  <!-- Center Top text -->
  <defs><path id="pizza_center_top_text"></path></defs>
  <text x="0" y="0" text-anchor="middle">
    <textPath id="pizza_center_top_text_path" startOffset="50%" xlink:href="#pizza_center_top_text" style="fill:rgba(204, 200, 200, 0.7);letter-spacing:5px;">
      Full Stack Developer
    </textPath>
  </text>

  <!-- Center Bottom text -->
  <defs><path id="pizza_center_bottom_text"></path></defs>
  <text x="0" y="0" text-anchor="middle">
    <textPath id="pizza_center_bottom_text_path" startOffset="50%" xlink:href="#pizza_center_bottom_text" style="fill:rgba(204, 200, 200, 0.7);letter-spacing:5px;">
      Minde Vieras
    </textPath>
  </text>

</g>
