.devskills{
	.progresscircle-wrapper{
		position: relative;
		font-size: 24px;
	};
	h3{
		cursor:pointer;
	}
}
.progresscircle{
	position: absolute;
	color: #bbb;
	font-weight: 100;
	line-height: 1;
}
.personal-skills li{
	text-align:center;
}