
footer{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: $space;
  left: 0;
  width: 100%;

  a {
    margin: 0 10px;

    &:hover svg {
      color: rgba(200,200,200,.9);
    }
  }
  
  svg {
    height: $space * 6;
    color: rgba(204,204,204,.5);
    cursor: pointer;
    @include transition(all .25s ease);
  }
}
