
.modal {

  .modal-content {
    background-color: rgba(204,204,204,.7);
    font-family: $font-main;
    letter-spacing: 1px;
    color: #000;
    border-radius:30px;
    padding: 10px;

    .modal-header {
      background-color: rgba(204,204,204,.5);
      border-radius: 20px 20px 0 0;
    }
    
    .modal-body {
      background-color: rgba(204,204,204,.5);
    }
  }

  .modal-footer {
    background-color: rgba(204,204,204,.5);
    border-radius: 0 0 20px 20px;
    justify-content: space-between;
    
    i {
      margin-right: 10px;
      font-size: 18px;
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }

  @include media-breakpoint-down(sm) {
    
    .modal-footer {
      flex-direction: column;
      align-items: flex-start;

      > a {
        margin: 0;
      }

      .phone i {
        width: 18px;
        text-align: center;
      }
    }
  }
}

footer{
  position: absolute;
  bottom:10px;
  left:0;
  width:100%;
  text-align: center;
  a{&:hover i{bottom:5px}}
  i{
      position: relative;
      bottom: 0;
      color: rgba(204,204,204,.5);
      font-size: 48px!important;
      margin: 0 10px;
      cursor: pointer;
      @include transition(all .3s ease);
  }
}
