
#main_sidebar {
  background-color: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $space * 30;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

  header {
    background-color: $md-grey-50;
    border-bottom: 1px solid #ddd;
    padding: $space * 3 $space * 2;
    
    .slogan {
      display: inline-block;
      font-size: 18px;
      margin-top: $space;
      width: 100%;
      color: $md-teal-900;
      letter-spacing: 2px;
    }
  }

  .logo-wrapper {
    display: flex;
    align-items: center;

    .logo {
      width: $space * 12.5;
      height: auto;
    }
    
    .name {
      font-size: 26px;
      margin-left: $space * 2;
      line-height: 1.2;
      letter-spacing: 2px;
    }
  }

  #main_navigation {
    
    .menu-link {
      display: flex;
      padding: $space / 2 $space * 2;

      &.active {
        font-weight: 500;
      }
    }
  }
}
