
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M2JCJR7');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portfolio | Minde Vieras</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Favicons -->
  <link rel="shortcut icon" href="/images/favicons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2JCJR7"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="main_wrapper" style="opacity:0;">
    
    <svg id="pizza_svg" width="0" height="0">
      
      <!-- <g id="pizza_skills" data-target="skills" class="pizza-piece">
        <image xlink:href="images/logo.png" ng-attr-x="{{centerW-(logoSize/2)}}" ng-attr-y="{{centerH-(logoSize/2)}}" ng-attr-height="{{logoSize}}" ng-attr-width="{{logoSize}}"/>
        <title>Skills</title>
        <circle ng-attr-cx="{{centerW}}" 
            ng-attr-cy="{{centerH}}" 
            ng-attr-r="{{rCircle}}"
            fill="#333333" />
      </g> -->
  

            <!-- <defs>
            <path id="topTextPath"
              stroke="blue"
                ng-attr-d="M {{centerW-rCircle+(rCircle/6)}},{{centerH}} A {{rCircle-(rCircle/6)}},{{rCircle-(rCircle/6)}} 0 1 1 {{centerW+rCircle-(rCircle/6)}},{{centerH}}" />
        </defs>
  
      <defs>
            <path id="bottomTextPath"
              stroke="blue"
                ng-attr-d="M {{centerW-rCircle+5}},{{centerH}} A {{rCircle-5}},{{rCircle-5}} 0 1 0 {{centerW+rCircle-5}},{{centerH}}" />
        </defs>
  
        <text x="0" y="0" text-anchor="middle" style="fill:rgba(204,200,200,.7);font-size:{{rCircle/8}}px;letter-spacing:5px;">
          <textPath startOffset="50%" xlink:href="#topTextPath" >
                Full Stack Developer
          </textPath>
        </text>
  
        <text x="0" y="0" text-anchor="middle" style="fill:rgba(204,200,200,.7);font-size:{{rCircle/5}}px;letter-spacing:5px;">
          <textPath startOffset="50%" xlink:href="#bottomTextPath" >
                Minde Vieras
          </textPath>
        </text> -->
        
    </svg>
  
    <div class="modal skills fade" tabindex="-1" role="dialog" aria-labelledby="skillsLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="skillsLabel">Skills</h4>
              </div>
              
              <div class="modal-body" ng-controller="skillsCtrl">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="panel panel-info" data-ng-repeat="devskill in devskills">
                  <div class="panel-heading">
                <div class="panel-title">{{devskill.catnicename}}</div>
              </div>
              <div class="panel-body devskills">
                <div data-ng-repeat="skill in devskill.skills|orderBy:'-strenght'">
                  <div class="col-md-2 col-xs-6 skill">
                    <div uib-popover="{{skill.description}}" popover-trigger="mouseenter" popover-popup-close-delay="200" popover-popup-delay="500" popover-placement="auto" class="single-skill">
                      <div class="col-md-12 col-xs-6">
                        <div class="progresscircle-wrapper">
                          <div class="progresscircle"></div>
                          <div
                            round-progress
                            max="100"
                            current="skill.strenght"
                            color="rgba(80,80,80,1)"
                            bgcolor="rgba(120,120,120,.25)"
                            radius="200"
                            semi="true"
                            rounded="false"
                            stroke="200"
                            clockwise="true"
                            responsive="true"
                            duration="1000"
                            animation="easeOutCubic"
                            offset="0">
                          </div>
                        </div>
                      </div>
                      <div class="skill-name">
                        <span>{{skill.nicename}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="panel panel-info personal">
              <div class="panel-heading">
                <div class="panel-title">Personal skills</div>
              </div>
              <div class="panel-body">
                <ul class="list-group row personal-skills">
                  <li class="list-group-item col-xs-12" data-ng-repeat="perskill in perskills">{{perskill}}</li>
                </ul>
              </div>
            </div>
  
              </div>
              
              <div modal-footer></div>
          
          </div>
        </div>
    </div>
  
    <div class="modal summary fade" tabindex="-1" role="dialog" aria-labelledby="summaryLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="summaryLabel">Summary</h4>
              </div>
              
              <div class="modal-body">
                <p>Motivated experienced Web Developer seeking a career in a dynamic software development team. Highly competent front-end development skills, with an emphasis on JavaScript and its libraries (ReactJS, jQuery). Confident back-end development skills, especially using PHP and NodeJS.</p>
                <p>Self-taught, with a real interest in keeping up-to-date with the latest web standards, languages and methods. Makes extensive use of tools such as Git, Webpack, Grunt to boost productivity and achieve the best results possible. A deep understanding of how computers and the internet works. High level of technical and networking skills.</p>
              </div>
              
          <div modal-footer></div>
          
          </div>
        </div>
    </div>
  
    <div class="modal projects fade" tabindex="-1" role="dialog" aria-labelledby="projectsLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="projectsLabel">Projects</h4>
              </div>
              
              <div class="modal-body" ng-controller="projectsCtrl">
                <div class="panel panel-info">
              <div class="panel-body">
                <div data-ng-repeat="project in projects|orderBy:'-id'">
                  <div class="col-xs-12">
                    <h2>{{project.name}}</h2>
                    <div class="row">
                      <div class="col-lg-4 col-xs-12">
                        <a href="{{project.link}}" target="_blank"><img ng-src="images/{{project.image}}"></a>
                      </div>
                      <div class="col-xs-7">
                        <p>{{project.description}}</p>
                        <a href="{{project.link}}" target="_blank">Go to site...</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              </div>
              
          <div modal-footer></div>
          
          </div>
        </div>
    </div>
  
    <div class="modal experience fade" tabindex="-1" role="dialog" aria-labelledby="experienceLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="experienceLabel">Experience</h4>
              </div>
              
              <div class="modal-body">
  
                <div class="row">
                  <div class="col-xs-12">
                    <b>01/16 – 10/16</b> web developer at digital agency <b>Southmedia Ltd.</b> Bristol.
                    <ul>
                      <li>Responsible for front and backend development of both Wordpress and Drupal websites.</li>
                      <li>Typically working from designs, but often given free rein on improving existing websites.</li>
                      <li>Whether working individually or with a small team - constantly striving to operate within timescales and hit targets.</li>
                    </ul>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-12">
                    <b>03/13 – 12/15 freelancing web designer/developer.</b>
                    <ul>
                      <li>Creating websites with Drupal 7 CMS, developing themes and modules.</li>
                      <li>Building SPA with AngularJS.</li>
                      <li>Maintaining already build systems.</li>
                      <li>Constantly working with HTML, CSS and JS.</li>
                      <li>Experience with MVC pattern.</li>
                      <li>Creating design with Adobe tools.</li>
                    </ul>
                  </div>
                </div>
            
                <div class="row">
                  <div class="col-xs-12">
                    <b>06/10 – 12/12 Leader, developer. Electric-Shop-Online, Lithuania.</b>
                    <ul>
                      <li>Responsible for communicating with customers.</li>
                      <li>Selling and advertising digital goods.</li>
                      <li>Maintaining the main online store.</li>
                      <li>Repairing, installing and maintaining consumer grade digital equipment.</li>
                    </ul>
                  </div>
                </div>
  
              </div>
              
              <div modal-footer></div>
          
          </div>
        </div>
    </div>
  
    <div class="modal expertize fade" tabindex="-1" role="dialog" aria-labelledby="expertizeLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="expertizeLabel">Expertise</h4>
              </div>
              
              <div class="modal-body">
            <ul class="list-group row">
              <li class="list-group-item col-md-4 col-xs-6">Time planning</li>
              <li class="list-group-item col-md-4 col-xs-6">Code quality</li>
              <li class="list-group-item col-md-4 col-xs-6">Technical skills</li>
              <li class="list-group-item col-md-4 col-xs-6">E-commerce</li>
              <li class="list-group-item col-md-4 col-xs-6">Latest standards</li>
              <li class="list-group-item col-md-4 col-xs-6">Managing change</li>
              <li class="list-group-item col-md-4 col-xs-6">Product vision</li>
              <li class="list-group-item col-md-4 col-xs-6">Automation tools</li>
              <li class="list-group-item col-md-4 col-xs-6">Mobile devices</li>
            </ul>
              </div>
              
              <div modal-footer></div>
          
          </div>
        </div>
    </div>
  
    <div class="modal education fade" tabindex="-1" role="dialog" aria-labelledby="educationLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="educationLabel">Education</h4>
              </div>
              
              <div class="modal-body">
            <ul class="list-group row">
              <li class="list-group-item">2005 - 2006 VPU Mathematics & IT at Vilnius University</li>
              <li class="list-group-item">2008 - 2010 South West College Enniskillen Campus, Northern Ireland</li>
            </ul>
            <span class="certs">Certs:</span>
            <ul class="list-group row">
              <li class="list-group-item">2009 - CISCO: PC Hardware and Software</li>
              <li class="list-group-item">2010 - CCNA: Networking for Home and Small Businesses</li>
            </ul>
              </div>
              
              <div modal-footer></div>
          
          </div>
        </div>
    </div>
  
    <div class="modal interests fade" tabindex="-1" role="dialog" aria-labelledby="interestsLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="interestsLabel">Interests</h4>
              </div>
              
              <div class="modal-body">
            <p>Active person who enjoys swimming, travelling and outdoors. Hobbies include sketching, cooking and attending music festivals.</p>
              </div>
              
              <div modal-footer></div>
          
          </div>
        </div>
    </div>
  
    <div class="modal cv fade" tabindex="-1" role="dialog" aria-labelledby="cvLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cvLabel">Download CV</h4>
              </div>
              
              <div class="modal-body">
            <p>Please download my CV and cover letter in MS Word or PDF formats.</p>
            <div class="row">
              <div class="col-md-6 get-cv">
                <p><b>Get My CV:</b></p>
                <form method="get" action="cv/minde-vieras-cv.pdf"><button class="btn btn-default">PDF</button></form>
                <form method="get" action="cv/minde-vieras-cv.docx"><button class="btn btn-default">MS Word</button></form>
              </div>
              <div class="col-md-6 get-cover">
                <p><b>Get My Cover Letter:</b></p>
                <form method="get" action="cv/minde-vieras-cover.pdf"><button class="btn btn-default">PDF</button></form>
                <form method="get" action="cv/minde-vieras-cover.docx"><button class="btn btn-default">MS Word</button></form>
              </div>
            </div>
              </div>
              
              <div modal-footer></div>
          
          </div>
        </div>
    </div>
  
    <footer>
      <a href="mailto:minde@mindelis.com" uib-popover="Email me" popover-trigger="mouseenter" popover-popup-close-delay="200" popover-popup-delay="500" popover-placement="auto" class="footer-link">
        <span class="sr-only">Email</span>
        <i class="fa fa-envelope"></i>
      </a>
      <a href="tel:{{phone}}" uib-popover="Phone me" popover-trigger="mouseenter" popover-popup-close-delay="200" popover-popup-delay="500" popover-placement="auto" class="footer-link">
        <span class="sr-only">{{phone}}</span>
        <i class="fa fa-mobile"></i>
      </a>
      <a href="https://www.github.com/MindeVieras" target="_blank" uib-popover="GitHub" popover-trigger="mouseenter" popover-popup-close-delay="200" popover-popup-delay="500" popover-placement="auto" class="footer-link">
        <span class="sr-only">GitHub</span>
        <i class="fa fa-github"></i>
      </a>
      <a href="https://gb.linkedin.com/in/minde-vieras-3a4637129" target="_blank" uib-popover="LinkedIn" popover-trigger="mouseenter" popover-popup-close-delay="200" popover-popup-delay="500" popover-placement="auto" class="footer-link">
        <span class="sr-only">LinkedIn</span>
        <i class="fa fa-linkedin"></i>
      </a>
      <a uib-popover="Download CV" popover-trigger="mouseenter" popover-popup-close-delay="200" popover-popup-delay="500" popover-placement="auto" class="footer-link">
        <span class="sr-only">CV</span>
        <i id="cv" region data-target=".cv" alt="Download" class="fa fa-download"></i>
      </a>
    </footer>
    
  </div>

	<script src="scripts.min.js"></script>
</body>
</html>
