Carrier Summary
I'm junior Web Developer with a strong background in HTML, CSS and JavaScript. Enthusiastic and selfmotivated and have a real interest in keeping up to date with the latest web standards, languages, methodologies and everything else.

First dust of my coding started in 2010 when I worked for Electric Shop Online. Where I started from customizing simple Prestashop themes. Since then I can't stop coding! Today I feel confident in all latest standards to develop user friendly pages and simple applications.

Interests
When I'm not coding I usually do wood crafting and little projects for myself and family. Cycling and hiking in the forests are also my favourite activities.

Areas of Expertese
Technical capability
E-commerce
Code quality
Time planning
Managing change
Product vision
Software testing
Mobile devices
Work Experience
2010 - 2012 Leader of online store Electric-Shop-Online, LITHUANIA.
I was responsible for communicating with customers. Selling and advertising digital goods. Maintaining the main online store. Repairing, installing and maintaining consumer grade digital equipment.

2012 - 2014 Maintenance technician in The Orchard Bar, IRELAND.
Responsible for all kind of electronics including PC's, LAN, WLAN, CCTV, Cash machines and also Payment Gateways.

2014 - Present. Freelancing in Web Development

Education

2005 - 2006 VPU Mathematics & IT at Vilnius University
2008 - 2010 South West College Enniskillen Campus, Northern Ireland
Certifications

2009 - CISCO: PC Hardware and Software
2010 - CCNA: Networking for Home and Small Businesses