<div class="col-md-8">	
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Carrier Summary</div>
		</div>
		<div class="panel-body">
			<p>I'm junior Web Developer with a strong background in HTML, CSS and JavaScript. 
			Enthusiastic and selfmotivated and have a real interest in keeping up to date with 
			the latest web standards, languages, methodologies and everything else.</p>
			<p>First dust of my coding started in 2010 when I worked for Electric Shop Online. 
			Where I started from customizing simple Prestashop themes. Since then I can't stop coding! 
			Today I feel confident in all latest standards to develop user friendly pages and simple applications.</p>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Interests</div>
		</div>
		<div class="panel-body">
			<p>When I'm not coding I usually do wood crafting and little projects for myself and family. 
			Cycling and hiking in the forests are also my favourite activities.</p>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Areas of Expertese</div>
		</div>
		<div class="panel-body">
			<ul class="list-group row">
				<li class="list-group-item col-md-4">Technical capability</li>
				<li class="list-group-item col-md-4">E-commerce</li>
				<li class="list-group-item col-md-4">Code quality</li>
				<li class="list-group-item col-md-4">Time planning</li>
				<li class="list-group-item col-md-4">Managing change</li>
				<li class="list-group-item col-md-4">Product vision</li>
				<li class="list-group-item col-md-4">Software testing</li>
				<li class="list-group-item col-md-4">Mobile devices</li>
			</ul>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Work Experience</div>
		</div>
		<div class="panel-body row">
			<div class="well col-md-4">
				2010 - 2012 Leader of online store Electric-Shop-Online, LITHUANIA.
				I was responsible for communicating with customers. Selling and advertising digital goods. Maintaining the main online store. Repairing, installing and maintaining consumer grade digital equipment.
			</div>
			<div class="well col-md-4">
				2012 - 2014 Maintenance technician in The Orchard Bar, IRELAND.
				Responsible for all kind of electronics including PC's, LAN, WLAN, CCTV, Cash machines and also Payment Gateways.
			</div>
			<div class="well col-md-4">
				2014 - Present. Freelancing in Web Development.
			</div>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Education</div>
		</div>
		<div class="panel-body">
			<ul class="list-group row">
				<li class="list-group-item">2005 - 2006 VPU Mathematics & IT at Vilnius University</li>
				<li class="list-group-item">2008 - 2010 South West College Enniskillen Campus, Northern Ireland</li>
			</ul>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Certifications</div>
		</div>
		<div class="panel-body">
			<ul class="list-group row">
				<li class="list-group-item">2009 - CISCO: PC Hardware and Software</li>
				<li class="list-group-item">2010 - CCNA: Networking for Home and Small Businesses</li>
			</ul>
		</div>
	</div>
</div>

<div class="col-md-4">	
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Little bit about this website</div>
		</div>
		<div class="panel-body">
			<p>This website is SPA - single page application build with AngularJS. All data comes from JSON file. 
			Using ngRoute to make paths for pages</p>
		</div>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Download my CV</div>
		</div>
		<div class="panel-body">
			<ul class="list-group row">
				<li class="list-group-item">Word</li>
				<li class="list-group-item">PDF</li>
			</ul>
		</div>
	</div>
</div>